<div class="text-layout">
    <h1>
        Pipes DecimalPipe - Porcentajes
    </h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="Ventas Netass"
            subheader="ventas del presente año">
            <i class="pi pi-dollar"></i>
                {{ventasNetas | number}}
                <br>
                {{ventasNetas | number:'1.2-2':'es-CL'}}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Ventas Netass"
            subheader="ventas del presente año">
                {{ventasNetas | currency:'CLP'}}
                <br>
                {{ventasNetas | currency:'CAD':'symbol-narrow':'1.0-4'}}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="Ganancia %"
            subheader="ventas del presente año">
                {{porcentajes | percent:'2.2-2'}}
                <br>
        </p-card>
    </div>
</div>