<div class="text-layout">
        <h1>Pipes Básicos</h1>
        <p>
            Pipes incluidos en Angular - Usualmente en el Common Module.
        </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card header="uppercase"
          [subheader]="nombreLower |uppercase">
            {{nombreLower |uppercase}}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="lowercase"
          [subheader]="nombreLower |lowercase">
            {{nombreLower |lowercase}}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card header="titlecase"
          [subheader]="nombreCompletLower |titlecase">
            {{nombreCompletLower |titlecase}}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipe para mostrar las fechas.
    </p>
</div>
<div class="p-grid">
    <div class="p-col-6">
        <p-card >
            <ul>
                <li>fecha</li>
                <li>fecha | date</li>
                <li>fecha | date:'short'</li>
                <li>fecha | date:'medium'</li>
                <li>fecha | date:'long'</li>
                <li>fecha | date:[format]</li>
                <li>fecha | date:[format]</li>
                <!-- <li>fecha | date:[format]</li> -->
            </ul>
            <hr>
            <ul>
                <li>fecha | date:'long':'GMT-6'</li>
                <li>fecha | date:'long':'GMT-5'</li>
                <li>fecha | date:'long':'GMT-4'</li>
                <li>fecha | date:'long':'':'en'</li>
                <li>fecha | date:'long':'':'fr'</li>
            </ul>

        </p-card>
    </div>
    <div class="p-col-6">
        <p-card >
            <ul>
                <li>{{fecha }}</li>
                <li>{{fecha | date}}</li>
                <li>{{fecha | date:'short'}}</li>
                <li>{{fecha | date:'medium'}}</li>
                <li>{{fecha | date:'long'}}</li>
                <li>{{fecha | date:'EEEE dd MM y GGGG'}}</li>
                <li>{{fecha | date:'EE MM y  aa H:m:s zzz'}}</li>
                <!-- <li>{{fecha | date:'EE MM y aa H m s zzz'}}</li> -->
            </ul>
            <hr>
            <ul>
                <li>{{fecha | date:'long':'GMT-6':'es-CL'}}</li>
                <li>{{fecha | date:'long':'GMT-5'}}</li>
                <li>{{fecha | date:'long':'GMT-4'}}</li>
                <li>{{fecha | date:'long':'':'en'}}</li>
                <li>{{fecha | date:'long':'':'fr'}}</li>
            </ul>
        </p-card>
    </div>
</div>