<div class="text-layout">
    <h1>
        Pipes no comunes
    </h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
        <p>
            <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
                Saludos {{nombre}} es un placer {{genero | i18nSelect:invitacionMapa}} al evento de nuestra organizacion
            </p-fieldset>

        </p>
        <button pButton type="button" label="cambiar persona" icon="pi pi-check" iconPos="left" (click)="cambiarCliente()">
        </button>
    </div>
    <div class="p-col p-md-6">
        <p>
            <p-fieldset legend="i8nPlural Pipe" [toggleable]="true">
                Actualmente tenemos {{clientes.length | i18nPlural:clientesMap}}.
            </p-fieldset>
        </p>
        <button pButton type="button" label="cambiar persona" icon="pi pi-check" iconPos="left" (click)="borrarCliente()">
        </button>
    </div>

</div>
<div class="p-grid">
    <div class="p-col p-md-6">
        <p>
            <p-fieldset legend="Slice Pipe" [toggleable]="true">

                 <pre>{{clientes.length}}</pre>
                 <span *ngFor="let cliente of clientes">{{cliente}}</span>

                 <b>slice:0:2</b>
                 <pre>{{clientes|slice:0:3}}</pre>
            
            </p-fieldset>

        </p>
    </div>
    <div class="p-col p-md-6">
        <p>
            <p-fieldset legend="keyValue Pipe" [toggleable]="true">

                 <ul>
                     <li *ngFor="let item of persona |keyvalue">
                         {{item.key}}
                         {{item.value}}
                     </li>
                 </ul>
            
            </p-fieldset>

        </p>
    </div>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
        <p>
            <p-fieldset legend="Async Pipe" [toggleable]="true">
                <p *ngIf="!(miObservable |async)">resolviendo promesa</p> 
                <p>
                    {{miObservable | async}}
                </p>
                <p *ngIf="!(valorPromesa |async)">resolviendo promesa</p> 
                <p>
                    {{valorPromesa | async}}
                </p>
            
            </p-fieldset>

        </p>
    </div>
</div>
