<div class="col">
    <h2>Por Pais</h2>
    <hr>
    <div class="row">
        <div class="col">
            <form action=""
                (ngSubmit)="buscar()"
                autocomplete="off">
                <input type="text"
                    name="termino"
                    [(ngModel)]="termino"
                    placeholder="Buscar pais"
                    class="form-control"
                >

            </form>
        </div>
    </div>
</div>
<hr>
<div class="alert alert-danger">
    No encontramos los terminos ingresados 
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Poblacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>nombre</td>
                    <td>123123123</td>
                    <td>
                        <a href="/pais/cro">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
