<div class="col animate__animated animate__fadeIn animate__faster">

    <h2>Por Pais</h2>
    <hr>
    <div class="row">
        <div class="col">
            <!-- <form action=""
                (ngSubmit)="buscar()"
                autocomplete="off">
                <input type="text"
                    name="termino"
                    [(ngModel)]="termino"
                    placeholder="Buscar pais"
                    class="form-control"
                >

            </form> -->
            <app-pais-input
                (onNuevaBusqueda)="buscar($event)"
                (onDebounce)="sugerencias($event)"
                placeholder="Buscar por pais..."
            ></app-pais-input>
        </div>
    </div>

</div>
<ul class="list-group">
    <li *ngFor="let paisSugerido of paisesSugeridos"
    (click)="buscar(paisSugerido.name)" 
    class="list-group-item list-group-item-action">
        <a [routerLink]="['/pais', paisSugerido.alpha2Code]">
            {{paisSugerido.name}}
        </a>  
    </li>
</ul>

<hr>

<ng-container  *ngIf="hayError;then hayErrorTrue;"></ng-container>


<ng-template #hayErrorTrue>
    <div class="alert alert-danger">
        No encontramos los terminos ingresados: {{termino}}
    </div>
</ng-template>

<ng-container *ngIf="paises.length>0">
    <div class="row">
        <div class="col">
            <app-pais-tabla [paises]="paises"></app-pais-tabla>
        </div>
    </div>
</ng-container>

  


