<div class="text-layout">
    <h1>Pipes Personalizados</h1>
    <p>
        Pipes personalizados por el {{'desarrollador'|mayusculas:enMayuscula}}
    </p>
    <button pButton type="button" label="cambiar MAYUSCULA" icon="pi pi-check" iconPos="left" (click)="cambiar()">
    </button>
</div>
<p-toolbar>
    <div class="p-toolbar-group-left">

    </div>
    <div class="p-toolbar-group-right">
        <button pButton 
            icon="pi pi-sort"
            label="toggle mayúsculas"
            (click)="cambiar()"
            class="p-mr-1 p-button-warning">
        </button>
        <button pButton 
            icon="pi pi-sort"
            label="Por nombre"
            class="p-mr-1"
            (click)="cambiarOrden('nombre')">
        </button>
        <button pButton 
            icon="pi pi-sort"
            label="Valores"
            class="p-mr-1 p-button-success"
            (click)="cambiarOrden('vuela')">
        </button>
        <button pButton 
            icon="pi pi-sort"
            label="Por color"
            class="p-mr-1 p-button-help"
            (click)="cambiarOrden('color')">
        </button>
    </div>
</p-toolbar>

<div class="p-grid">
    <div class="p-col p-mt-3">
        <!-- <p-table [value]="heroe | ordenar:ordenarPor"> -->
            <p-table [value]="heroe | slice:0">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                    <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.nombre}}</td>
                    <td>{{heroe.vuela | vuela |titlecase}}</td>
                    <td>{{heroe.color }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
